@import "../../variables.scss";

.contacts {
  text-decoration: none;

  &__title {
    text-align: center;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
    color: $darc-text-color;
    margin-bottom: 1.5rem;
    animation: fadeInDown 1s ease-in-out;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.125rem;
    line-height: 1.7;
    color: $contact-text-color;
  }

  &__description {
    font-weight: 600;
  }

  &__item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $contact-text-color;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $red-brand-color;
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}

.contacts__border {
  width: 100%;
  height: 2px;
  display: block;
  background: linear-gradient(
    to right,
    transparent 0,
    rgba(68, 70, 71, 0.2) 20%,
    rgba(68, 70, 71, 0.2) 80%,
    transparent 100%
  );
  border: none;
}

@media (max-width: 650px) {
  .contacts__content {
    padding: 10px;
    font-size: 1rem;
    border-radius: 1rem;
    margin-top: 20px;

  }

  .contacts__description {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    align-self: center;
  }
}


